.card-intro {
	background-color: white;
	padding: 20px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 5px;
	margin: 20px auto;
	text-align: center;
	border: 2px solid lightgrey;
}

.avatar {
	border-radius: 10%;
}
.card-intro h3 {
	padding-bottom: 5px;
}
